@import "@flaticon/flaticon-uicons/css/all/all.css";
@import "tailwindcss" important;


.dark{
  body{
    background: var(--color-background-default);
  }
}

:root {
  --scroll-thumb-color: var(--color-surface-secondary-softer);
  --scroll-thumb-hover-color: var(--color-surface-secondary-softer);
  --scroll-track-color: var(--color-surface-secondary-softest);
}
.theme-primary{
  --scroll-thumb-color: var(--color-surface-secondary-default);
  --scroll-thumb-hover-color: var(--color-surface-secondary-default);
  --scroll-track-color: var(--color-surface-secondary-strong);;
}

:root {
  /* LIGHT */
  --color-light-blue-softest: #f5edd0;
  --color-light-blue-softer:  #dfcf93;
  --color-light-blue-soft:    #c9b25e;
  --color-light-blue-default: #A38C3B;
  --color-light-blue-strong:  #7a692c;

  /* DARK */
  --color-dark-blue-softest: #b9a24f;
  --color-dark-blue-softer:  #8f7b33;
  --color-dark-blue-soft:    #75652a;
  --color-dark-blue-default: #574c1f;
  --color-dark-blue-strong:  #363014;
}

@theme{
  --color-theme-default: #28272c;
  --color-theme-primary: #EACD61;
}
@import "./button.css";
